header{
  display: block;
  text-align: center;
  margin-top: 15%;
}

h1{
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
}

h2{
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  font-weight: 300;
}

#name{
  flex-direction: column;
}

.responsive-image {
  width: 100%;
  max-width: 150px;
}

#container {
  margin-right: 35%;
  margin-left: 35%;
}

hr {
  border: 0;
  height: 2px;
  background: #C9C9C9;
  margin-bottom: 30px;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 105%;
  padding-left: 10px;
}

ul {
  list-style: none;
  margin-top: 40px;
  text-align: center;
  padding: 0px;
}

li {
  display: inline-flex;
  padding: 10px;
}

.social-images {
  width: 32px;
  height: 32px;
}

@media all and (max-width: 800px)
{
  html{
    font-size: 70%;
  }
  #container{
    width: 80%;
    margin: 0 auto;
  }
}
